* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.eas-container {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    height: 800px;
    width: 800px;
    border: solid 1px black;
    margin: 20px auto;
}

.eas-container > div {
    border: solid 1px rgb(228, 228, 228);
}

button {
    padding: 10px;
}

.main {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}